# Between Concrete & Countryside - The Urban-Rural Divide in Environmental Views

## General Information

This project examines urban-rural differences in environmental attitudes and behaviours across Europe.

**Authors:** Alex Duni, Azizbek Ussenov, Anna Heckhausen

**Date:** 15 December 2024

**Data:**
In this project, we use data from the ESS and from the WorldBank. You can access this data under the following links.

[ESS data (Round 8)](https://ess.sikt.no/en/datafile/ffc43f48-e15a-4a1c-8813-47eda377c355/93?tab=0)

[WorldBank data](https://ess.sikt.no/en/datafile/ffc43f48-e15a-4a1c-8813-47eda377c355/93?tab=0): 2016, Indicator: Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative); selected countries from ESS without Israel and Russia

## Explanations (internal use - remove before submission):

**comments that start with 'To-Do'** are things to do. Such comments should be removed before we submit anything.

**comments that start with 'Question'** are questions we need to solve. Such comments should be removed before we submit anything.

comments that do not start with 'To-do' or 'Question' are explanations of the code below (which

## Data Preparation

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as stats

In [2]:
survey_df = pd.read_csv('/workspaces/ESG-Analysis/Data/ESS8e02_3.csv')
survey_df.head()

/tmp/ipykernel_33191/2187113890.py:1: DtypeWarning: Columns (168) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_df = pd.read_csv('/workspaces/ESG-Analysis/Data/ESS8e02_3.csv')

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,inwmms,inwyys,inwshh,inwsmm,inwdde,inwmme,inwyye,inwehh,inwemm,inwtm
0,ESS8e02_3,8,2.3,23.11.2023,1,AT,0.611677,1.178495,0.370393,0.436506,...,12,2016,7,37,5,12,2016,8,33,50.0
1,ESS8e02_3,8,2.3,23.11.2023,2,AT,1.223354,0.899471,0.370393,0.333158,...,11,2016,9,39,25,11,2016,11,10,86.0
2,ESS8e02_3,8,2.3,23.11.2023,4,AT,0.389058,0.315753,0.370393,0.116953,...,11,2016,17,17,22,11,2016,18,0,38.0
3,ESS8e02_3,8,2.3,23.11.2023,6,AT,0.642594,0.472467,0.370393,0.174999,...,10,2016,19,9,11,10,2016,19,59,46.0
4,ESS8e02_3,8,2.3,23.11.2023,10,AT,3.432402,2.246706,0.370393,0.832164,...,12,2016,10,31,1,12,2016,11,49,70.0

In [3]:
survey_df.describe()

,essround,edition,idno,dweight,pspwght,pweight,anweight,nwspol,netusoft,netustm,...,inwmms,inwyys,inwshh,inwsmm,inwdde,inwmme,inwyye,inwehh,inwemm,inwtm
count,44387.0,4.438700e+04,4.438700e+04,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,...,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,44387.000000,43250.000000
mean,8.0,2.300000e+00,3.154578e+07,1.000000,1.000000,1.174817,1.174817,189.470701,3.862077,2299.033343,...,8.177214,2020.365512,14.334310,25.562890,15.853741,8.152883,2018.027553,16.113412,29.491675,65.225272
std,0.0,4.440942e-16,1.155417e+08,0.390219,0.548561,1.301596,1.923216,962.889443,1.594919,3063.010782,...,4.329691,177.674958,3.947528,18.514428,8.731993,4.041277,113.658562,8.608613,18.768750,26.680245
min,8.0,2.300000e+00,1.000000e+00,0.036070,0.018145,0.030226,0.007141,0.000000,1.000000,0.000000,...,1.000000,2016.000000,0.000000,0.000000,1.000000,1.000000,2016.000000,0.000000,0.000000,0.000000
25%,8.0,2.300000e+00,1.208000e+03,0.915591,0.694870,0.239750,0.187990,30.000000,3.000000,120.000000,...,5.000000,2016.000000,12.000000,9.000000,8.000000,5.000000,2016.000000,13.000000,14.000000,50.000000
50%,8.0,2.300000e+00,2.589000e+03,1.000000,0.920021,0.520820,0.475879,60.000000,5.000000,240.000000,...,10.000000,2016.000000,14.000000,24.000000,16.000000,10.000000,2016.000000,16.000000,29.000000,60.000000
75%,8.0,2.300000e+00,1.105750e+04,1.044025,1.169933,2.013008,1.739004,90.000000,5.000000,6666.000000,...,11.000000,2017.000000,17.000000,41.000000,23.000000,11.000000,2017.000000,18.000000,45.000000,75.000000
max,8.0,2.300000e+00,5.516031e+08,6.206992,4.002002,4.985758,19.945196,9999.000000,9.000000,9999.000000,...,99.000000,9999.000000,99.000000,99.000000,99.000000,99.000000,9999.000000,99.000000,99.000000,1083.000000

In [4]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44387 entries, 0 to 44386
Columns: 535 entries, name to inwtm
dtypes: float64(227), int64(298), object(10)
memory usage: 181.2+ MB

Selecting only columns according to the research interest

In [5]:
data_needed = survey_df[['idno', 'cntry', 'domicil', 'wrclmch', 'clmthgt1', 'ccgdbd', 'eneffap', 'rdcenr', 'ccrdprs', 'eisced', 'lrscale']]
data_needed.head()

,idno,cntry,domicil,wrclmch,clmthgt1,ccgdbd,eneffap,rdcenr,ccrdprs,eisced,lrscale
0,1,AT,1,4,6,10,8,4,8,7,0
1,2,AT,1,4,6,2,10,5,7,4,1
2,4,AT,4,4,6,2,9,4,8,3,5
3,6,AT,1,3,6,7,10,4,6,3,0
4,10,AT,3,4,6,5,10,6,6,3,5

In [6]:
data_needed.isna().sum()

idno        0
cntry       0
domicil     0
wrclmch     0
clmthgt1    0
ccgdbd      0
eneffap     0
rdcenr      0
ccrdprs     0
eisced      0
lrscale     0
dtype: int64

In [7]:
data_needed['cntry'].unique()

array(['AT', 'BE', 'CH', 'CZ', 'DE', 'EE', 'ES', 'FI', 'FR', 'GB', 'HU',
       'IE', 'IL', 'IS', 'IT', 'LT', 'NL', 'NO', 'PL', 'PT', 'RU', 'SE',
       'SI'], dtype=object)

Remove countries that are not part of Europe (Russian Federation, Israel) and Ensure no 'RU' or 'IS'

In [8]:
data_needed = data_needed[~data_needed['cntry'].isin(['RU', 'IL'])]

if data_needed['cntry'].isin(['RU', 'IL']).any():
    print("Still: 'RU' or 'IL'")
else:
    print("No: 'RU' or 'IL'")

No: 'RU' or 'IL'

Data from World Bank about education

In [9]:
world_bank_df = pd.read_csv('/workspaces/ESG-Analysis/Data/01d4cc76-d950-4515-a40d-b85330acb7b9_Data.csv')
world_bank_df

,Country Name,Country Code,Series Name,Series Code,2016 [YR2016]
0,Austria,AUT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,98.968643
1,Belgium,BEL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,84.790001
2,Czechia,CZE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.800003
3,Estonia,EST,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.114182
4,Finland,FIN,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,85.521523
5,France,FRA,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,83.690002
6,Germany,DEU,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,96.510002
7,Hungary,HUN,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.180000
8,Iceland,ISL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.538902
9,Ireland,IRL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,86.810600
10,Italy,ITA,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,80.138374
11,Lithuania,LTU,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,95.180000
12,Netherlands,NLD,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,89.709999
13,Norway,NOR,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.230003
14,Poland,POL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,85.330002
15,Portugal,PRT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,54.189999
16,Slovenia,SVN,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.620003
17,Spain,ESP,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,75.800003
18,Sweden,SWE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,90.540001
19,Switzerland,CHE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,96.889999
20,United Kingdom,GBR,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.761635
21,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,Data from database: World Development Indicators,NaN,NaN,NaN,NaN
25,Last Updated: 11/13/2024,NaN,NaN,NaN,NaN

In [10]:
# Setting '2021 [YR2021]' as a variable to call it more efficiently
year = '2016 [YR2016]'

In [11]:
set(world_bank_df[year])

{nan,
 nan,
 54.189998626709,
 nan,
 75.8000030517578,
 nan,
 nan,
 80.1383743286133,
 83.6900024414062,
 84.7900009155273,
 85.3300018310547,
 85.5215225219727,
 86.8106002807617,
 89.7099990844727,
 90.5400009155273,
 95.1800003051758,
 96.5100021362305,
 96.8899993896484,
 97.1800003051758,
 97.620002746582,
 97.7616348266602,
 98.9686431884766,
 99.1141815185547,
 99.2300033569336,
 99.5389022827148,
 99.8000030517578}

In [12]:
world_bank_df.replace('..', np.nan, inplace=True) # replace '..' for nan values
world_bank_df = world_bank_df[~world_bank_df[year].isna()] # remove all nan values

In [13]:
world_bank_df['Country Code'].unique()

array(['AUT', 'BEL', 'CZE', 'EST', 'FIN', 'FRA', 'DEU', 'HUN', 'ISL',
       'IRL', 'ITA', 'LTU', 'NLD', 'NOR', 'POL', 'PRT', 'SVN', 'ESP',
       'SWE', 'CHE', 'GBR'], dtype=object)

In [14]:
three_to_two = {
    'AUT': 'AT', 
    'BEL': 'BE', 
    'CZE': 'CZ', 
    'EST': 'EE', 
    'FIN': 'FI',
    'FRA': 'FR', 
    'DEU': 'DE', 
    'HUN': 'HU', 
    'ISL': 'IS', 
    'IRL': 'IE',
    'ITA': 'IT', 
    'LTU': 'LT', 
    'NLD': 'NL', 
    'NOR': 'NO', 
    'POL': 'PL',
    'PRT': 'PT', 
    'SVN': 'SI', 
    'ESP': 'ES', 
    'SWE': 'SE', 
    'CHE': 'CH',
    'GBR': 'GB'
}

world_bank_df['Country Code'] = world_bank_df['Country Code'].map(three_to_two)
world_bank_df

/tmp/ipykernel_33191/3257060602.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_bank_df['Country Code'] = world_bank_df['Country Code'].map(three_to_two)

,Country Name,Country Code,Series Name,Series Code,2016 [YR2016]
0,Austria,AT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,98.968643
1,Belgium,BE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,84.790001
2,Czechia,CZ,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.800003
3,Estonia,EE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.114182
4,Finland,FI,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,85.521523
5,France,FR,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,83.690002
6,Germany,DE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,96.510002
7,Hungary,HU,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.180000
8,Iceland,IS,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.538902
9,Ireland,IE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,86.810600
10,Italy,IT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,80.138374
11,Lithuania,LT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,95.180000
12,Netherlands,NL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,89.709999
13,Norway,NO,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,99.230003
14,Poland,PL,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,85.330002
15,Portugal,PT,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,54.189999
16,Slovenia,SI,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.620003
17,Spain,ES,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,75.800003
18,Sweden,SE,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,90.540001
19,Switzerland,CH,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,96.889999
20,United Kingdom,GB,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,97.761635

Pivot the dataframe to have a proper dataframe

In [15]:
world_bank_df = world_bank_df.pivot(columns='Series Name', index='Country Code', values=year).reset_index()
world_bank_df.columns.name = None
world_bank_df

,Country Code,"Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)"
0,AT,98.968643
1,BE,84.790001
2,CH,96.889999
3,CZ,99.800003
4,DE,96.510002
5,EE,99.114182
6,ES,75.800003
7,FI,85.521523
8,FR,83.690002
9,GB,97.761635
10,HU,97.180000
11,IE,86.810600
12,IS,99.538902
13,IT,80.138374
14,LT,95.180000
15,NL,89.709999
16,NO,99.230003
17,PL,85.330002
18,PT,54.189999
19,SE,90.540001
20,SI,97.620003

Merging of Survey and World Bank data

In [16]:
# Merge the two DataFrames
survey_and_wb = data_needed.merge(world_bank_df, left_on='cntry', right_on='Country Code', how='left')

# Drop the redundant "Country Code" column
survey_and_wb.drop(columns=['Country Code'], inplace=True)

survey_and_wb.head()

,idno,cntry,domicil,wrclmch,clmthgt1,ccgdbd,eneffap,rdcenr,ccrdprs,eisced,lrscale,"Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)"
0,1,AT,1,4,6,10,8,4,8,7,0,98.968643
1,2,AT,1,4,6,2,10,5,7,4,1,98.968643
2,4,AT,4,4,6,2,9,4,8,3,5,98.968643
3,6,AT,1,3,6,7,10,4,6,3,0,98.968643
4,10,AT,3,4,6,5,10,6,6,3,5,98.968643

In [17]:
survey_and_wb.shape

(39400, 12)